@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {

    --Gradient: to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: .875rem;
    background: url('./images/bg-mobile.png');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 26px;

    @media (width >=1024px) {
        background: url('./images/bg-desktop.png') no-repeat bottom, var(--Very-Dark-Blue);
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (width >=1024px) {
        flex-direction: row;
        align-items: end;
        justify-content: center;
        gap: 29px;
    }
}

.fylo {
    background-color: var(--Dark-Blue);
    width: 326px;
    height: 202px;
    border-radius: 10px;
    border-top-right-radius: 100px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.fylo__options {
    display: flex;
    gap: 16px;
}

.fylo__option {
    width: 48px;
    height: 48px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.details {
    background-color: var(--Dark-Blue);
    width: 326px;
    height: 160px;
    border-radius: 10px;
    padding: 0 34px;
    position: relative;

    @media (width >=1024px) {
        width: 540px;
        height: 155px;
        padding: 0 37px;
    }
}

.details__title {
    font-size: 14px;
    text-align: center;
    margin-top: 35px;
    color: var(--Pale-Blue);
    font-weight: 300;

    & span {
        color: var(--Pale-Blue);
        font-weight: 700;
    }

    @media (width >=1024px) {
        text-align: start;
    }
}

.details__input-field {
    margin-top: 18px;
    width: 262px;
    height: 20px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;

    @media (width >=1024px) {
        width: 457px;
    }
}

.details__input-field::before {
    content: '0 GB';
    position: absolute;
    bottom: -25px;
    left: 0;
    color: white;
    font-size: 13px;
    font-weight: 700;
}

.details__input-field::after {
    content: '1000 GB';
    position: absolute;
    bottom: -25px;
    right: 0px;
    color: white;
    font-size: 13px;
    font-weight: 700;
}

.details__range {
    width: 194px;
    height: 14px;
    background: linear-gradient(var(--Gradient));
    border-radius: 10px;
    position: relative;
    left: 2px;

    @media (width >=1024px) {
        width: 341px;
    }
}

.details__range-thumb {
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 3px;
    top: 2px;
    cursor: pointer;
}

.details__remainder {
    background-color: white;
    width: 178px;
    height: 72px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    margin: 0 auto;
    gap: 11px;

    @media (width >=1024px) {
        margin: unset;
        left: unset;
        top: -45px;
        right: 40px;
        border-end-end-radius: 0;

        &::after {
            content: '';
            border: 15px solid transparent;
            border-right-color: white;
            border-top-color: white;
            position: absolute;
            top: 90%;
            right: 0;
        }
    }
}

.details__remainder-title {
    font-size: .8125rem;
    color: var(--Grayish-Blue);
    font-weight: 700;
}

.details__remainder-gb {
    color: var(--Very-Dark-Blue);
    font-size: 2.25rem;
    font-weight: 700;
}